.watchVideo-left-side{
    width: 70%;
    margin-right: -50px;
    video{
        width: 90%;
        border-radius: 20px;
    }
}
.watchVideo-right-side{
    width: 30%;
    color: white;
    font-size: 0.9rem;
}