@use '../../../index.scss' as *;

.userVideosContainer {
    .container {
        // padding-bottom: 10vh;
        &1 {
            font-weight: 700;
            font-size: 20px;
        }
        &2 {
            color: $secondary-text;
            cursor: pointer;
        }
        &3 {
            padding: 15px 0 0 0 ;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            gap: 5px;
            &1 {
                width: 40vh;
                height: 40vh;
                border-radius: 10px;
                transition: background-color 0.3s ease;
                cursor: pointer;
                transition: 0.4s;
                // margin: 15px 0;
                &:hover{
                    transform: scale(0.98);
                    background-color: $hover-bg-color;
                    box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);

                    // background-color: $secondary-color;
                }

                &1 {
                    width: 100%;
                    height: 160px;
                    img {
                        border-radius: 5px;
                        height: 100%;
                    }
                }
                &2 {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    &1{
                        font-size: 16px;
                        font-weight: 700;
                    }
                    &2{
                        display: flex;
                        flex-direction: row;
                        margin: 10px 0;
                        font-size: 10px;
                        width:100%;
                        p{
                            font-size: 12px;
                            color: $secondary-text;
                            
                        }
                        .dot{
                            margin: 0 5px;
                        }
                    }

                }

                &.selectedVideo {
                    background-color: rgba(255, 0, 0, 0.6);
                    // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
                }
            }
        }
        .mainCreateButton{
            background-color: $hover-bg-color;
            margin-bottom: 10vh;
            margin-top: 20px;
            padding: 10px 20px;
            border-radius: 10px;
            transition: 0.4s;

            &:hover{
                transform: scale(0.98);
                background-color: $secondary-color;
                box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
            }
        }
        
    }
}
.createPlaylistForm{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.655);
    z-index: 100;
    .createPlaylistForm1{
        width: 60vh;
        height: 35vh;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: $background-color;
        transition: 0.4s;
        box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        p:nth-child(1){
            font-size: 20px;
            font-weight: 700;
        }
        &1{
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // font-size: 20px;
            input{
                width: 100%;
                border-radius: 3px;
                border: 1px solid #414141;
                background-color: transparent;
                &:focus{
                    outline: none;
                    border-color: red;
                }
            }
        }
        &2{
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // font-size: 20px;
            input{
                width: 100%;
                border-radius: 3px;
                border: 1px solid #414141;
                background-color: transparent;
                &:focus{
                    outline: none;
                    border-color: red;
                }
            }
        }
        &3{
            margin: 20px;
            display: flex;
            justify-content: space-around;
            width: 50%;
            &1{
                background-color: $hover-bg-color;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover{
                    background-color: red;
                }
            }
            &2{
                background-color: $hover-bg-color;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover{
                    background-color: red;
                }
            }
        }
    }
}

.updatePlaylistForm{
    background-color: $hover-bg-color;
    // margin-bottom: 100vh;
    margin-bottom: 10vh;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.4s;

    &:hover{
        transform: scale(0.98);
        background-color: $secondary-color;
        box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
    }
}
