// Color Variables
// $background-color: #0f0f0f;
// $text-color: #ffffffcc;

// Font Variables
$font-family-primary: "Arial", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
$base-font-size: 16px;

// Breakpoints (for responsive design)
$breakpoint-small: 576px; // Small devices (mobile)
$breakpoint-medium: 768px; // Medium devices (tablets)
$breakpoint-large: 992px; // Large devices (desktops)
$breakpoint-xlarge: 1200px; // Extra large devices
$breakpoint-xxlarge:1400px;
$breakpoint-xxxlarge:1600px;

// Spacing (optional)
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;


//dynamic color theme
// $primary-color: (#3C3D37);
$secondary-color:(#111111);
$text-color:(#FFFFFF);
$secondary-text:(#B3B3B3);
// $accent-color:(#BB86FC);
$hover-bg-color: (#131313);
$background-color:(#000000);
$button-color:(#FF0000);


* {
    font-family: $font-family-primary;
    font-size: $base-font-size;

}

body {
    
    background-color: $background-color;
    color: $text-color;

    overflow-x: hidden;

    img{
        width: 100%;
    }
}
