@import '../../index.scss';

.SearchBar{
    position: fixed;
    margin-left: 15%;
    height: 10%;
    width: 85%;
    background-color: $background-color;
    z-index: 2;
}
.container {
    display: flex;
    background-color: black;
    .left-side {
        position: fixed;
        width: 15%;
        height: 100vh;
        color: white;
        background-color: black;
        z-index: 10;
    }
    .right-side {
        margin-top:8%;
        margin-left: 15%;
        width: 85%;
        display: flex;
        flex-direction: column;
        background-color: black;
    }
}
