@use '../../index.scss' as *;

.SubscriptionContainer {
    background-color: $background-color;
    color: $text-color;
    margin: 10px;

    
    .SubscribedChannel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        // max-width: 800px;
    }

    .subscribedChannelContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        border: 1px solid $hover-bg-color;
        border-radius: 10px;
        height: 40vh;
        width: 30vh;
        // background-color: $hover-bg-color;
        transition:0.3s;

        &:hover {
            transform: scale(0.95);
            background-color: $secondary-color;
            box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }

        &1 {
            
            
            img {
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
        }

        &2 {
            display: flex;
            flex-direction: column;
            padding: 10px;
            justify-content: center;
            align-items: center;
            
            p:nth-child(1){
                font-weight: 700;
                font-size: 20px;
                color: $text-color;
            }

            p:nth-child(2){
                color: $secondary-text;
            }

            p:nth-child(3) {
                font-size: 12px;
                color: $secondary-text;
            }
        }
    }
}