@import '../../index.scss';
.containerSearchBar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.25rem;
    align-items: center;
    color: white;
    background-color: $background-color;
}

.icon-large {
    font-size: 1.3rem;
    cursor: pointer;
}

.search-bar-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    background-color: $background-color;

    .search-bar {
        display: flex;
        align-items: center;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #323232;
        padding: 5px;
        width: 100%;
    }

    .search-input {
        background: none;
        border: none;
        padding: 10px;
        width: 100%;
        color: white;
        border-radius: 40px;
        outline: none;
    }

    .search-button {
        padding: 10px;
        height: 40px;
        border-bottom-right-radius: 40%;
        border-top-right-radius: 40%;
        border: none;
        cursor: pointer;
        color: white;
    }

    .mic-icon {
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;
        cursor: pointer;
        background-color: $background-color;
    }
}

.profile-section {
    display: flex;
    align-items: center;
    background-color: $background-color;
}

.login-button, .logout-button {
    background-color:$button-color ;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 1.25rem;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    background-color: $background-color;
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
    color: white;
    min-width: 20rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        background-color: $hover-bg-color;
    }
}

.dropdown-icon {
    margin-right: 1rem;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-image-dropdown {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown-divider {
    border-top: 1px solid #505050;
    margin: 0.5rem 0;
}

.dropdown-label {
    color: white;
}

.dropdown-label-link {
    color: lightblue;
    text-decoration: none;
}
