@import '../../index.scss';
.containerSearchBar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.25rem;
    align-items: center;
    color: white;
    background-color: $background-color;
    width: 100%;
    &1{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 65px;
            height: 40px;
        }
    }
}

.icon-large {
    font-size: 1.3rem;
    cursor: pointer;
}

.search-bar-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    width: 50vw;
    .search-bar {
        margin-left: 150px;
        display: flex;
        align-items: center;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #323232;
        padding: 5px;
        width: 100%;
        background-color: $secondary-color;
        box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
    }

    .search-input {
        background: none;
        border: none;
        padding: 10px;
        width: 100%;
        color: white;
        border-radius: 40px;
        outline: none;
        
    }

    .search-button {
        padding: 10px;
        height: 40px;
        border-bottom-right-radius: 40%;
        border-top-right-radius: 40%;
        border: none;
        cursor: pointer;
        color: white;
    }

    .mic-icon {
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;
        cursor: pointer;
        background-color: $background-color;
    }
}

.profile-section {
    display: flex;
    align-items: center;
    background-color: $background-color;
    width: 15%;
}

.login-button{
    background-color:$button-color ;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 1.25rem;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
}

/* From Uiverse.io by vinodjangid07 */ 
.logout-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 0, 0);
}

/* plus sign */
.sign {
width: 100%;
transition-duration: .3s;
display: flex;
align-items: center;
justify-content: center;
}

.sign svg {
width: 17px;
}

.sign svg path {
fill: white;
}
/* text */
.text {
position: absolute;
right: 0%;
width: 0%;
opacity: 0;
color: white;
font-size: 1.2em;
// font-weight: 600;
transition-duration: .3s;
}
/* hover effect on button width */
.logout-button:hover {
width: 125px;
border-radius: 40px;
transition-duration: .3s;
}

.logout-button:hover .sign {
width: 30%;
transition-duration: .3s;
padding-left: 20px;
}
/* hover effect button's text */
.logout-button:hover .text {
opacity: 1;
width: 70%;
transition-duration: .3s;
padding-right: 10px;
}
/* button click effect*/
.logout-button:active {
transform: translate(2px ,2px);
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    background-color: $background-color;
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
    color: white;
    min-width: 20rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        background-color: $hover-bg-color;
    }
}

.dropdown-icon {
    margin-right: 1rem;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-image-dropdown {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown-divider {
    border-top: 1px solid #505050;
    margin: 0.5rem 0;
}

.dropdown-label {
    color: white;
}

.dropdown-label-link {
    color: lightblue;
    text-decoration: none;
}

@media(max-width:900px){
    .containerSearchBar {
        // height: 56px;
        // display: flex;
        // justify-content: space-between;
        // padding-left: 1rem;
        // padding-right: 1.25rem;
        // align-items: center;
        // color: white;
        // background-color: $background-color;
        // width: 100%;
        &1{
            // width: 200px;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            img{
                // width: 65px;
                // height: 40px;
            }
        }
    }
    
    .icon-large {
        // font-size: 1.3rem;
        // cursor: pointer;
    }
    
    .search-bar-wrapper {
        // display: flex;
        // width: 80%;
        // justify-content: space-between;
        // align-items: center;
    }
    
    .nav-center {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // background-color: $background-color;
        // width: 50vw;
        .search-bar {
            margin-left: 50px;
            // display: flex;
            // align-items: center;
            // height: 40px;
            // border-radius: 40px;
            // border: 1px solid #323232;
            // padding: 5px;
            // width: 100%;
            // background-color: $secondary-color;
            // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }
    
        .search-input {
            // background: none;
            // border: none;
            // padding: 10px;
            // width: 100%;
            // color: white;
            // border-radius: 40px;
            // outline: none;
            
        }
    
        .search-button {
            // padding: 10px;
            // height: 40px;
            // border-bottom-right-radius: 40%;
            // border-top-right-radius: 40%;
            // border: none;
            // cursor: pointer;
            // color: white;
        }
    
        .mic-icon {
            // font-size: 20px;
            // padding: 10px;
            // margin-left: 10px;
            // cursor: pointer;
            // background-color: $background-color;
        }
    }
    
    .profile-section {
        // display: flex;
        // align-items: center;
        // background-color: $background-color;
        width: 25%;
    }
    
    .login-button{
        // background-color:$button-color ;
        // border-radius: 20px;
        // padding: 0 1rem;
        // margin-right: 1.25rem;
        // height: 40px;
        // color: white;
        // cursor: pointer;
        // border: none;
    }
    
    /* From Uiverse.io by vinodjangid07 */ 
    .logout-button {
        // display: flex;
        // align-items: center;
        // justify-content: flex-start;
        // width: 45px;
        // height: 45px;
        // border: none;
        // border-radius: 50%;
        // cursor: pointer;
        // position: relative;
        // overflow: hidden;
        // transition-duration: .3s;
        // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        // background-color: rgb(255, 0, 0);
    }
    
    /* plus sign */
    .sign {
    // width: 100%;
    // transition-duration: .3s;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    }
    
    .sign svg {
    // width: 17px;
    }
    
    .sign svg path {
    // fill: white;
    }
    /* text */
    .text {
    // position: absolute;
    // right: 0%;
    // width: 0%;
    // opacity: 0;
    // color: white;
    // font-size: 1.2em;
    // // font-weight: 600;
    // transition-duration: .3s;
    }

    
    .profile-image {
        // width: 40px;
        // height: 40px;
        // border-radius: 50%;
        // cursor: pointer;
    }
}
@media (max-width:766px){
    .containerSearchBar {
        // height: 56px;
        // display: flex;
        // justify-content: space-between;
        // padding-left: 1rem;
        // padding-right: 1.25rem;
        // align-items: center;
        // color: white;
        // background-color: $background-color;
        // width: 100%;
        &1{
            width: 100px;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            img{
                // left: -20px;
                // width: 65px;
                // height: 40px;
            }
        }
    }
    
    .icon-large {
        // font-size: 1.3rem;
        // cursor: pointer;
    }
    
    .search-bar-wrapper {
        // display: flex;
        // width: 80%;
        // justify-content: space-between;
        // align-items: center;
    }
    
    .nav-center {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // background-color: $background-color;
        // width: 50vw;
        .search-bar {
            margin-left: 20px;
            // display: flex;
            // align-items: center;
            // height: 40px;
            // border-radius: 40px;
            // border: 1px solid #323232;
            // padding: 5px;
            // width: 100%;
            // background-color: $secondary-color;
            // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }
    
        .search-input {
            // background: none;
            // border: none;
            // padding: 10px;
            // width: 100%;
            // color: white;
            // border-radius: 40px;
            // outline: none;
            
        }
    
        .search-button {
            // padding: 10px;
            // height: 40px;
            // border-bottom-right-radius: 40%;
            // border-top-right-radius: 40%;
            // border: none;
            // cursor: pointer;
            // color: white;
        }
    
        .mic-icon {
            // font-size: 20px;
            // padding: 10px;
            // margin-left: 10px;
            // cursor: pointer;
            // background-color: $background-color;
        }
    }
    
    .profile-section {
        // display: flex;
        // align-items: center;
        // background-color: $background-color;
        width: 25%;
    }
    
    .login-button{
        // background-color:$button-color ;
        // border-radius: 20px;
        // padding: 0 1rem;
        // margin-right: 1.25rem;
        // height: 40px;
        // color: white;
        // cursor: pointer;
        // border: none;
    }
    
    /* From Uiverse.io by vinodjangid07 */ 
    .logout-button {
        // display: flex;
        // align-items: center;
        // justify-content: flex-start;
        // width: 45px;
        // height: 45px;
        // border: none;
        // border-radius: 50%;
        // cursor: pointer;
        // position: relative;
        // overflow: hidden;
        // transition-duration: .3s;
        // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        // background-color: rgb(255, 0, 0);
    }
    
    /* plus sign */
    .sign {
    // width: 100%;
    // transition-duration: .3s;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    }
    
    .sign svg {
    // width: 17px;
    }
    
    .sign svg path {
    // fill: white;
    }
    /* text */
    .text {
    // position: absolute;
    // right: 0%;
    // width: 0%;
    // opacity: 0;
    // color: white;
    // font-size: 1.2em;
    // // font-weight: 600;
    // transition-duration: .3s;
    }

    
    .profile-image {
        // width: 40px;
        // height: 40px;
        // border-radius: 50%;
        // cursor: pointer;
    }
}

@media (max-width:600px){
    .containerSearchBar {
        // height: 56px;
        // display: flex;
        // justify-content: space-between;
        // padding-left: 1rem;
        // padding-right: 1.25rem;
        // align-items: center;
        // color: white;
        // background-color: $background-color;
        // width: 100%;
        &1{
            width: 100px;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            img{
                // left: -20px;
                // width: 65px;
                // height: 40px;
            }
        }
    }
    
    .icon-large {
        // font-size: 1.3rem;
        // cursor: pointer;
    }
    
    .search-bar-wrapper {
        // display: flex;
        // width: 80%;
        // justify-content: space-between;
        // align-items: center;
    }
    
    .nav-center {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // background-color: $background-color;
        // width: 50vw;
        .search-bar {
            margin-left: 20px;
            // display: flex;
            // align-items: center;
            // height: 40px;
            // border-radius: 40px;
            // border: 1px solid #323232;
            // padding: 5px;
            // width: 100%;
            // background-color: $secondary-color;
            // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }
    
        .search-input {
            // background: none;
            // border: none;
            // padding: 10px;
            // width: 100%;
            // color: white;
            // border-radius: 40px;
            // outline: none;
            
        }
    
        .search-button {
            // padding: 10px;
            // height: 40px;
            // border-bottom-right-radius: 40%;
            // border-top-right-radius: 40%;
            // border: none;
            // cursor: pointer;
            // color: white;
        }
    
        .mic-icon {
            // font-size: 20px;
            // padding: 10px;
            // margin-left: 10px;
            // cursor: pointer;
            // background-color: $background-color;
        }
    }
    
    .profile-section {
        // display: flex;
        // align-items: center;
        // background-color: $background-color;
        width: 25%;
    }
    
    .login-button{
        // background-color:$button-color ;
        // border-radius: 20px;
        // padding: 0 1rem;
        // margin-right: 1.25rem;
        // height: 40px;
        // color: white;
        // cursor: pointer;
        // border: none;
    }
    
    /* From Uiverse.io by vinodjangid07 */ 
    .logout-button {
        // display: flex;
        // align-items: center;
        // justify-content: flex-start;
        // width: 45px;
        // height: 45px;
        // border: none;
        // border-radius: 50%;
        // cursor: pointer;
        // position: relative;
        // overflow: hidden;
        // transition-duration: .3s;
        // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        // background-color: rgb(255, 0, 0);
        
    }
    .logout-button:hover {
        width: 45px; /* Disable hover effect by maintaining original size */
        border-radius: 50%; /* Keep the button circular */
        transition-duration: 0s; /* Remove transition for hover */
    }

    .logout-button:hover .sign {
        width: 100%; /* Keep the plus sign at full width */
        padding-left: 0; /* Reset padding */
        transition-duration: 0s; /* Remove transition for hover */
    }

    .logout-button:hover .text {
        opacity: 0; /* Hide the text */
        width: 0%; /* Keep the text hidden */
        padding-right: 0; /* Reset padding */
        transition-duration: 0s; /* Remove transition for hover */
    }
    
    /* plus sign */
    .sign {
    // width: 100%;
    // transition-duration: .3s;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    }
    
    .sign svg {
    // width: 17px;
    }
    
    .sign svg path {
    // fill: white;
    }
    /* text */
    .text {
    // position: absolute;
    // right: 0%;
    // width: 0%;
    // opacity: 0;
    // color: white;
    // font-size: 1.2em;
    // // font-weight: 600;
    // transition-duration: .3s;
    }

    
    .profile-image {
        // width: 40px;
        // height: 40px;
        // border-radius: 50%;
        // cursor: pointer;
    }
}

@media (max-width:360px){
    .containerSearchBar {
        // height: 56px;
        // display: flex;
        // justify-content: space-between;
        // padding-left: 1rem;
        // padding-right: 1.25rem;
        // align-items: center;
        // color: white;
        // background-color: $background-color;
        // width: 100%;
        &1{
            width: 100px;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            img{
                // left: -20px;
                // width: 65px;
                // height: 40px;
            }
        }
    }
    
    .icon-large {
        // font-size: 1.3rem;
        // cursor: pointer;
    }
    
    .search-bar-wrapper {
        // display: flex;
        // width: 80%;
        // justify-content: space-between;
        // align-items: center;
    }
    
    .nav-center {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // background-color: $background-color;
        // width: 50vw;
        .search-bar {
            // margin-left: 20px;
            display: none;
            // align-items: center;
            // height: 40px;
            // border-radius: 40px;
            // border: 1px solid #323232;
            // padding: 5px;
            // width: 20%;
            // margin-left: 50px;
            // background-color: $secondary-color;
            // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }
    
        .search-input {
            // background: none;
            // border: none;
            // display: none;
            // padding: 10px;
            // width: 0%;
            // color: white;
            // border-radius: 40px;
            // outline: none;
            
        }
    
        .search-button {
            // padding: 10px;
            // height: 40px;
            // border-bottom-right-radius: 40%;
            // border-top-right-radius: 40%;
            // border: none;
            // cursor: pointer;
            // color: white;
        }
    
        .mic-icon {
            // font-size: 20px;
            padding: 10px 10px 10px 0;
            margin-left: 0px;
            // cursor: pointer;
            // background-color: $background-color;
        }
    }
    
    .profile-section {
        // display: flex;
        // align-items: center;
        // background-color: $background-color;
        width: 50%;
    
    }
    
    .login-button{
        // background-color:$button-color ;
        // border-radius: 20px;
        // padding: 0 1rem;
        // margin-right: 1.25rem;
        // height: 40px;
        // color: white;
        // cursor: pointer;
        // border: none;
    }
    
    /* From Uiverse.io by vinodjangid07 */ 
    .logout-button {
        // display: flex;
        // align-items: center;
        // justify-content: flex-start;
        // width: 45px;
        // height: 45px;
        // border: none;
        // border-radius: 50%;
        // cursor: pointer;
        // position: relative;
        // overflow: hidden;
        // transition-duration: .3s;
        // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        // background-color: rgb(255, 0, 0);
        margin-right: 5px;
        
    }
    .logout-button:hover {
        width: 45px; /* Disable hover effect by maintaining original size */
        border-radius: 50%; /* Keep the button circular */
        transition-duration: 0s; /* Remove transition for hover */
    }

    .logout-button:hover .sign {
        width: 100%; /* Keep the plus sign at full width */
        padding-left: 0; /* Reset padding */
        transition-duration: 0s; /* Remove transition for hover */
    }

    .logout-button:hover .text {
        opacity: 0; /* Hide the text */
        width: 0%; /* Keep the text hidden */
        padding-right: 0; /* Reset padding */
        transition-duration: 0s; /* Remove transition for hover */
    }
    
    /* plus sign */
    .sign {
    // width: 100%;
    // transition-duration: .3s;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    }
    
    .sign svg {
    // width: 17px;
    }
    
    .sign svg path {
    // fill: white;
    }
    /* text */
    .text {
    // position: absolute;
    // right: 0%;
    // width: 0%;
    // opacity: 0;
    // color: white;
    // font-size: 1.2em;
    // // font-weight: 600;
    // transition-duration: .3s;
    }

    
    .profile-image {
        // width: 40px;
        // height: 40px;
        // border-radius: 50%;
        // cursor: pointer;
    }
}