// *{
//     background-color:#0f0f0f;
// }

// body{
//     background-color:#0f0f0f;
// }

.manageVideosSearchBar{
    position: fixed;
    height: 56px;
    width: 100vw;
    background-color:#0f0f0f;
    z-index: 100;
}
.manageVideoslayoutContainer  {
    
    display: flex;
    background-color:#0f0f0f;
    width: 100vw;
    .displayer{
        width: 100%;
        background-color: aqua;
    }
    .manageVideosleft-side2{
        position: fixed;
        margin-top: 4%;
        width: 5%;
        height: 100vh;
        color: white;
        background-color:#0f0f0f;
        z-index: 2;
    }
    .manageVideosleft-side {
        position: fixed;
        margin-top: 4%;
        width: 15%;
        height: 100vh;
        color: white;
        background-color:#0f0f0f;
        z-index: 2;
    }
    .manageVideosright-side-WithNav {
        margin-top:4%;
        margin-left: 250px;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color:#0f0f0f;
        
    }
    .manageVideosright-side-WithoutNav{
        margin-top:4%;
        margin-left: 100px;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color:#0f0f0f;
        
    }
}
