.UserChannel-Container{
    color: white;
    background-color: black;
    height: 100vh;
    button{
        background-color: gray;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 15px;
    }
}
