.userPlaylistContainer{
    
    
    p{
        padding: 0.5% 0 2% 0;
        font-size: 1rem;
    }

    .playlistContainer{
        width: 20%;
        height: 30%;
        display: flex;
        flex-direction: column;
        padding: 0 5px 10px 5px;
        img{
            width: 100%;
            border-radius: 10px;
            
        }
        div{
            p{
                font-size: 1rem;
            }
            button{
                font-size: 0.8rem;
                color: gray;
            }
        }
    }
}