@import '../index.scss';
// *{
//     background-color:$background-color;
// }

// body{
//     background-color:$background-color;
// }

.SearchBar{
    position: fixed;
    height: 57px;
    width: 100vw;
    z-index: 100;
    background-color: $background-color;
}
.layoutContainer  {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    .left-side2{
        position: fixed;
        margin-top: 4%;
        // width: 5%;
        height: 100vh;
        color: $text-color;
        z-index: 2;
        background-color: $background-color;
    }
    .left-side {
        position: fixed;
        margin-top: 3.5%;
        width: 15%;
        height: 100vh;
        color: $text-color;
        z-index: 2;
        background-color: $background-color;
        // overflow-y: auto;

    }
    .right-side-WithNav {
        margin-top:56px;
        margin-left: 17%;
        margin-right: 2%;
        width: 85%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: $background-color;

    }
    .right-side-WithoutNav{
        margin-top:56px;
        margin-left: 10px;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: $background-color;

    }
}

@media(max-width:1280px){
    .SearchBar{
        // position: fixed;
        // height: 57px;
        // width: 100vw;
        // z-index: 100;
        // background-color: $background-color;
    }
    .layoutContainer  {
        // display: flex;
        // width: 100vw;
        // height: 100vh;
        // background-color: $background-color;
        .left-side2{
            // position: fixed;
            // margin-top: 4%;
            // width: 5%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
        }
        .left-side {
            // position: fixed;
            // margin-top: 3.5%;
            width: 17%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
            // // overflow-y: auto;
    
        }
        .right-side-WithNav {
            // margin-top:56px;
            // margin-left: 17%;
            // margin-right: 2%;
            // width: 85%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
        .right-side-WithoutNav{
            // margin-top:56px;
            // margin-left: 10px;
            // width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
    }
}
@media(max-width:1024px){  
    .SearchBar{
        // position: fixed;
        // height: 57px;
        // width: 100vw;
        // z-index: 100;
        // background-color: $background-color;
    }
    .layoutContainer  {
        // display: flex;
        // width: 100vw;
        // height: 100vh;
        // background-color: $background-color;
        .left-side2{
            // position: fixed;
            // margin-top: 4%;
            // // width: 5%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
        }
        .left-side {
            // position: fixed;
            // margin-top: 3.5%;
            width: 20%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
            // // overflow-y: auto;
    
        }
        .right-side-WithNav {
            // margin-top:56px;
            margin-left: 20%;
            // margin-right: 2%;
            // width: 85%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
        .right-side-WithoutNav{
            // margin-top:56px;
            // margin-left: 10px;
            // width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
    }
}
@media(max-width:900px){  
    .SearchBar{
        // position: fixed;
        // height: 57px;
        // width: 100vw;
        // z-index: 100;
        // background-color: $background-color;
    }
    .layoutContainer  {
        // display: flex;
        // width: 100vw;
        // height: 100vh;
        // background-color: $background-color;
        .left-side2{
            // position: fixed;
            // margin-top: 4%;
            // // width: 5%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
        }
        .left-side {
            // position: fixed;
            margin-top: 56px;
            width: 27%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
            // // overflow-y: auto;
    
        }
        .right-side-WithNav {
            // margin-top:56px;
            margin-left: 25%;
            // margin-right: 2%;
            // width: 85%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
        .right-side-WithoutNav{
            // margin-top:56px;
            // margin-left: 10px;
            // width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
    }
}

@media(max-width:766px){  
    .SearchBar{
        // position: fixed;
        // height: 57px;
        // width: 100vw;
        // z-index: 100;
        // background-color: $background-color;
    }
    .layoutContainer  {
        // display: flex;
        // width: 100vw;
        // height: 100vh;
        // background-color: rgba(0, 0, 0, 0.568);
        .left-side2{
            // position: fixed;
            // margin-top: 4%;
            // // width: 5%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
        }
        .left-side {
            // position: fixed;
            margin-top: 56px;
            width: 35%;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.805);
            // height: 100vh;
            // color: $text-color;
            z-index: 100;
            // background-color: $background-color;
            // // overflow-y: auto;
    
        }
        .right-side-WithNav {
            // margin-top:56px;
            margin-left: 10px;
            margin-right: 0;
            width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
        .right-side-WithoutNav{
            // margin-top:56px;
            // margin-left: 10px;
            // width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
    }
}
@media (max-width:600px){  
    .SearchBar{
        // position: fixed;
        // height: 57px;
        // width: 100vw;
        // z-index: 100;
        // background-color: $background-color;
    }
    .layoutContainer  {
        // display: flex;
        // width: 100vw;
        // height: 100vh;
        // background-color: rgba(0, 0, 0, 0.568);
        .left-side2{
            // position: fixed;
            // margin-top: 4%;
            // // width: 5%;
            // height: 100vh;
            // color: $text-color;
            // z-index: 2;
            // background-color: $background-color;
        }
        .left-side {
            // position: fixed;
            margin-top: 56px;
            width: 35%;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.805);
            // height: 100vh;
            // color: $text-color;
            z-index: 100;
            // background-color: $background-color;
            // // overflow-y: auto;
    
        }
        .right-side-WithNav {
            // margin-top:56px;
            margin-left: 0px;
            margin-right: 0;
            width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
        .right-side-WithoutNav{
            // margin-top:56px;
            margin-left: 0px;
            // width: 100%;
            // height: 90vh;
            // display: flex;
            // flex-direction: column;
            // background-color: $background-color;
    
        }
    }
}
