// SearchBar.scss

.searchbar-container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 16px; // Equivalent to p-4

  .nav-icon {
      margin-left: 16px; // Equivalent to mx-4

      .icon-large {
          font-size: 1.3rem; // Adjust size as needed
          color: #ffffff;
          cursor: pointer;
      }
  }

  .searchbar-content {
      display: flex;
      align-items: center;
      width: 80%;
      margin: 0 40px; // Equivalent to mx-10

      .searchbar-inner {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .nav-center {
              display: flex;
              align-items: center;
              flex-grow: 1;
              justify-content: center;

              .search-bar {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  width: 65%;
                  height: 40px;
                  background-color: #0f0f0f;
                  border-radius: 40px;
                  padding: 5px 10px;
                  border: 1px solid #323232;

                  .search-input {
                      width: 100%;
                      background: none;
                      border: none;
                      padding: 10px;
                      border-radius: 40px;
                      color: white;
                      outline: none;
                  }

                  .search-button {
                      background-color: #0f0f0f;
                      padding: 10px;
                      height: 100%;
                      width: 40px;
                      border-bottom-right-radius: 40%;
                      border-top-right-radius: 40%;
                      cursor: pointer;
                      border: none;
                      color: white;

                      &:hover {
                          background-color: #1a1a1a;
                      }
                  }
              }

              .mic-icon {
                  font-size: 20px;
                  padding: 10px;
                  margin-left: 10px;
                  cursor: pointer;
                  color: white;
              }
          }

          .actions {
              display: flex;
              align-items: center;
              position: relative;

              .auth-button {
                  background-color: #323232; // Equivalent to bg-gray-800
                  border-radius: 12px; // Equivalent to rounded-2xl
                  padding: 0 32px; // Equivalent to px-8
                  margin-right: 20px; // Equivalent to mr-5
                  height: 40px; // Equivalent to h-10
                  color: #ffffff;
                  cursor: pointer;
                  border: none;
                  font-size: 14px;
                  transition: background-color 0.3s;

                  &:hover {
                      background-color: #444444;
                  }

                  &.logout-button {
                      background-color: #444444;

                      &:hover {
                          background-color: #555555;
                      }
                  }

                  &.login-button {
                      background-color: #323232;

                      &:hover {
                          background-color: #444444;
                      }
                  }
              }

              .create-button-container {
                  position: relative;

                  .create-button {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #323232; // Equivalent to bg-gray-800
                      border-radius: 12px; // Equivalent to rounded-2xl
                      padding: 0 32px; // Equivalent to px-8
                      margin-right: 20px; // Equivalent to mr-5
                      height: 40px; // Equivalent to h-10
                      color: #ffffff;
                      cursor: pointer;
                      border: none;
                      font-size: 14px;
                      transition: background-color 0.3s;

                      &:hover {
                          background-color: #444444;
                      }

                      .dropdown-icon {
                          margin-right: 10px;
                          background-color: transparent;
                      }
                  }

                  .dropdown-menu {
                      position: absolute;
                      top: 45px;
                      right: 0;
                      width: 200px;
                      background-color: #323232;
                      border-radius: 10px;
                      padding: 10px;
                      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                      z-index: 200;

                      .dropdown {
                          display: flex;
                          flex-direction: column;

                          .dropdown-section {
                              display: flex;
                              flex-direction: column;

                              .dropdown-item {
                                  display: flex;
                                  align-items: center;
                                  padding: 10px;
                                  border-radius: 8px;
                                  cursor: pointer;
                                  transition: background-color 0.2s;

                                  &:hover {
                                      background-color: #222222;
                                  }

                                  .dropdown-icon {
                                      color: #ffffff;
                                      margin-right: 10px;
                                      background-color: transparent;
                                  }

                                  .dropdown-label {
                                      font-size: 14px;
                                      font-weight: 500;
                                      color: #ffffff;
                                      background-color: transparent;
                                  }
                              }
                          }
                      }
                  }
              }

              .profile-container {
                  position: relative;

                  .profile-image {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      background-color: #20c997; // Equivalent to bg-green-600
                      object-fit: cover;
                      cursor: pointer;
                  }

                  .dropdown-menu {
                      position: absolute;
                      top: 45px;
                      right: 0;
                      width: 300px;
                      background-color: #323232;
                      border-radius: 10px;
                      padding: 10px;
                      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                      z-index: 200;

                      .dropdown {
                          display: flex;
                          flex-direction: column;

                          .dropdown-section {
                              display: flex;
                              flex-direction: column;

                              .dropdown-item {
                                  display: flex;
                                  align-items: center;
                                  padding: 10px;
                                  border-radius: 8px;
                                  cursor: pointer;
                                  transition: background-color 0.2s;

                                  &.profile-info {
                                      flex-direction: column;
                                      align-items: flex-start;
                                      padding: 0;

                                      .profile-img {
                                          width: 40px;
                                          height: 40px;
                                          border-radius: 50%;
                                          margin-right: 10px;
                                          object-fit: cover;
                                      }

                                      .profile-details {
                                          display: flex;
                                          flex-direction: column;
                                      }
                                  }

                                  &:hover {
                                      background-color: #222222;
                                  }

                                  .dropdown-icon {
                                      color: #ffffff;
                                      margin-right: 10px;
                                      background-color: transparent;
                                  }

                                  .dropdown-label {
                                      font-size: 14px;
                                      font-weight: 500;
                                      color: #ffffff;
                                      background-color: transparent;
                                  }

                                  .dropdown-label-link {
                                      font-size: 14px;
                                      font-weight: 500;
                                      color: #4179ed;
                                      text-decoration: underline;
                                      background-color: transparent;
                                  }
                              }
                          }

                          .dropdown-divider {
                              width: 100%;
                              height: 1px;
                              background-color: #ffffff;
                              margin: 10px 0;
                          }
                      }
                  }
              }
          }
      }
  }

  /* Modal Styles */
  .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 300;

      .modal-content {
          width: 50%;
          height: 70%;
          background: #201e1e;
          padding: 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .modal-label {
              font-size: 1.5rem;
              color: #ffffff;
              margin-bottom: 10px;
          }

          .dropdown-divider {
              width: 100%;
              height: 1px;
              background-color: #ffffff;
              margin: 10px 0;
          }

          .upload-section {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 80%;
              background-color: transparent;

              input[type="file"] {
                  margin-bottom: 20px;
              }

              .btn-upload {
                  padding: 10px 20px;
                  background-color: #007bff;
                  color: #ffffff;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  transition: background-color 0.3s;

                  &:hover {
                      background-color: #0056b3;
                  }
              }
          }
      }
  }
}
