.HomePageContainer{
    margin-left: 20px;
    width: 100%;
    background-color: #0f0f0f;
}
.HomePageContainer1{
    background-color: #0f0f0f;
}
.Navopen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content:space-evenly;
    .box{
            min-width: 250px;
            width: 370px;
        }
    .vid{
        object-fit: cover;
        width: 100%;
       
    }
    .thumbnail{
        height: 100%;
    }
}
.main-box{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
    align-items: flex-start;
    justify-content:space-evenly;

    .box{
        min-width: 250px;
        width: 290px;
     }
     .vid{
        object-fit: cover;
        width: 100%;

    }
    // .thumbnail{
    
    // }
}

.headball{
    z-index: 50;
    background-color:#0f0f0f;
    width: 100%;
    .live-recommend-btn{
        background-color: #f1f1f1;
        color: #272727;
    }
    .recommend-btn{
        background-color: #272727;
    }
}

.top{
    &:hover {
        background-color: #373737; 
       
        
    }
}
.description{
    font-size: 1rem;
    font-weight: 600;
}
.userChannel{
    color: gray;
    font-size: 0.9rem;
    &:hover {
        color: white; 
         animation: ease-in;
        
    }
}
.views{
    color: gray;
    font-size: 0.9rem;
}
.time{
    color: #808080;
    font-size: 0.9rem;
}
.dot{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    color: gray;
    margin: 0 2px 5px 2px;
}


