@import '../../index.scss';
.HomePageContainer {
    width: 100%;
    background-color: $background-color;
    padding-left: 5px;
}

.HomePageContainer1 {
    background-color: $background-color;
    margin-left: 5%;
}

.Navopen, .main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
    // gap: 5px;
    margin-top: 5%;
    .box {
        // min-width: 250px;
        max-width: 31%;
        min-width: 20%;
        position: relative;
        padding-bottom: 10px;
        height: 30vw;
        max-height: 350px;
        margin: 5px;
        transition-duration: 0.5s;
        border-radius: 10px;
        &:hover{
            transform: scale(1.03);
            background-color: $secondary-color;
        }
    }

    .vid {
        object-fit: cover;
        width: 100%;
        display: none; // initially hidden
        position:absolute;
        top: 0;
        left: 0;
    }

    .thumbnailContainer {
        width: 100%;
        height: 14vw;
        position: relative;

        // Thumbnail styles
        .thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // border-radius: 12px;
            transition: opacity 0.3s ease-in-out; // Smooth transition
            border-radius: 10px;
        }

        // Video styles
        .vid {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none; // Initially hidden
            border-radius: 10px 10px 0 0;

        }

        // On hover, hide thumbnail and show video
        // &:hover {
        //     .thumbnail {
        //         opacity: 0; // Hide the thumbnail smoothly
        //     }
        //     .vid {
        //         display: block; // Show the video
        //     }
        // }
    }

    .channelContainer{
        .video-details {
            display: flex;
            margin-top: 10px;
            margin-left: 10px;
        }
    
        .channelContainer1 {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .channelContainer2{
            display: flex;
            flex-direction: column;
        
            .description {
                font-size: 1rem;
                font-weight: 600;
            }
        
            .userChannel {
                color: gray;
                font-size: 0.9rem;
        
                &:hover {
                    color: white;
                    // transition: color 0.3s ease-in-out;
                }
            }
        
            .views-time {
                display: flex;
                align-items: center;
            }
        
            .views, .time {
                font-size: 0.9rem;
                color: gray;
            }
        
            .dot {
                margin: 0 4px;
                font-size: 0.9rem;
                color: gray;
            }
        }

    }
}

.headball {
    display: flex;
    padding: 10px;
    gap: 15px;
    overflow-x: auto;
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 50;

    .live-recommend-btn, .recommend-btn {
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }

    .live-recommend-btn {
        background-color: #f1f1f1;
        color: #272727;
    }

    .recommend-btn {
        background-color: #272727;
        color: white;
    }
}
@media (max-width:1788px){  
    .Navopen, .main-box {
        .box {
            
        }
        .thumbnailContainer{
        }
    }
}
@media (max-width:1692px){  
    .Navopen, .main-box {
        .box {

        }
        .thumbnailContainer{
        }
    }
}
@media (max-width:1595px){  
    .Navopen, .main-box {
        .box {

        }
        .thumbnailContainer{
        }
    }
}
