@import '../../index.scss';

.sidebar {

    width: 100%;
    height: 100%;
    padding: $padding-medium;
    background-color: $background-color;
    .sidebar-divider {
      width: 100%;
      height: 1px;
      background-color: $hover-bg-color;
      margin: 1rem 0;
    }
  
    .sidebar-section {
      display: flex;
      flex-direction: column;
      background-color: $background-color;
      overflow-y: auto; // Enables vertical scrolling
      max-height: 35vh; // Adjust this value to limit height and trigger scrolling
        // Add smooth scrolling
      scroll-behavior: smooth;

      // Custom scrollbar styles
      &::-webkit-scrollbar {
        width: 8px; // Width of the scrollbar
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 0, 0, 0.4); // Change color on hover
        border-radius: 4px; // Roundness of the scrollbar thumb
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 0, 0, 1); // Change color on hover
      }
      
      .sidebar-header {
        font-size: $base-font-size;
        font-weight: bold;
        color: $text-color;
        margin: 1rem 0;
        background-color: $background-color;
      }
  
      .sidebar-item {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 4px 0 0 0 ;
        border-radius: 10px;
        cursor: pointer;
        transition:  0.2s ease;
        background-color: transparent;
        &:hover {
          background-color: $secondary-color;
          transform: scale(0.90);
          // background-color: $secondary-color;
          box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }
        .sidebar-icon {
          color: $text-color;
          margin-right: 10px;
          background-color: transparent;
        }
  
        .sidebar-label {
          font-size: $base-font-size;
          font-weight: 500;
          color: $text-color;
          background-color: transparent;
          
        }
  
        &.active {
          background-color: $secondary-color;
          border-radius: 10px;
          transform: scale(0.90);
          background-color: $secondary-color;
          box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
        }
  
        .profile-img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
  

@media(max-width:766px){
  .sidebar {
    // z-index: 100;
    width: 35%;
    height: 100%;
    // padding: $padding-medium;
    // background-color: $background-color;
    .sidebar-divider {
      width: 100%;
      // height: 1px;
      // background-color: $hover-bg-color;
      margin: 1rem 0;
    }
  
    .sidebar-section {
      display: flex;
      flex-direction: column;
      // background-color: $background-color;
      // overflow-y: auto; // Enables vertical scrolling
      // max-height: 35vh; // Adjust this value to limit height and trigger scrolling
        // Add smooth scrolling
      // scroll-behavior: smooth;

      // Custom scrollbar styles
      // &::-webkit-scrollbar {
      //   width: 8px; // Width of the scrollbar
      // }
      
      // &::-webkit-scrollbar-thumb {
      //   background-color: rgba(255, 0, 0, 0.4); // Change color on hover
      //   border-radius: 4px; // Roundness of the scrollbar thumb
      // }
      
      // &::-webkit-scrollbar-thumb:hover {
      //   background-color: rgba(255, 0, 0, 1); // Change color on hover
      // }
      
      // .sidebar-header {
      //   // font-size: $base-font-size;
      //   // font-weight: bold;
      //   // color: $text-color;
      //   // margin: 1rem 0;
      //   // background-color: $background-color;
      // }
  
      // .sidebar-item {
      //   // display: flex;
      //   // align-items: center;
      //   // padding: 10px;
      //   // margin: 4px 0 0 0 ;
      //   // border-radius: 10px;
      //   // cursor: pointer;
      //   // transition:  0.2s ease;
      //   // background-color: transparent;
      //   // &:hover {
      //   //   // background-color: $secondary-color;
      //   //   // transform: scale(0.90);
      //   //   // // background-color: $secondary-color;
      //   //   // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
      //   // }
      //   // .sidebar-icon {
      //   //   // color: $text-color;
      //   //   // margin-right: 10px;
      //   //   // background-color: transparent;
      //   // }
  
      //   // .sidebar-label {
      //   //   // font-size: $base-font-size;
      //   //   // font-weight: 500;
      //   //   // color: $text-color;
      //   //   // background-color: transparent;
          
      //   // }
  
      //   // &.active {
      //   //   // background-color: $secondary-color;
      //   //   // border-radius: 10px;
      //   //   // transform: scale(0.90);
      //   //   // background-color: $secondary-color;
      //   //   // box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
      //   // }
  
      //   // .profile-img {
      //   //   // width: 28px;
      //   //   // height: 28px;
      //   //   // border-radius: 50%;
      //   //   // margin-right: 10px;
      //   // }
      // }
    }
  }
}
@media(max-width:600px){
  .sidebar {
    z-index: 100;
    width: 47%;
    // height: 100%;
    // padding: $padding-medium;
    // background-color: $background-color;
    // .sidebar-divider {
    //   width: 100%;
    //   height: 1px;
    //   background-color: $hover-bg-color;
    //   margin: 1rem 0;
    }
  
    // .sidebar-section {
    //   display: flex;
    //   flex-direction: column;
    //   background-color: $background-color;
    //   overflow-y: auto; // Enables vertical scrolling
    //   max-height: 35vh; // Adjust this value to limit height and trigger scrolling
    //     // Add smooth scrolling
    //   scroll-behavior: smooth;

    //   // Custom scrollbar styles
    //   &::-webkit-scrollbar {
    //     width: 8px; // Width of the scrollbar
    //   }
      
    //   &::-webkit-scrollbar-thumb {
    //     background-color: rgba(255, 0, 0, 0.4); // Change color on hover
    //     border-radius: 4px; // Roundness of the scrollbar thumb
    //   }
      
    //   &::-webkit-scrollbar-thumb:hover {
    //     background-color: rgba(255, 0, 0, 1); // Change color on hover
    //   }
      
    //   .sidebar-header {
    //     font-size: $base-font-size;
    //     font-weight: bold;
    //     color: $text-color;
    //     margin: 1rem 0;
    //     background-color: $background-color;
    //   }
  
    //   .sidebar-item {
    //     display: flex;
    //     align-items: center;
    //     padding: 10px;
    //     margin: 4px 0 0 0 ;
    //     border-radius: 10px;
    //     cursor: pointer;
    //     transition:  0.2s ease;
    //     background-color: transparent;
    //     &:hover {
    //       background-color: $secondary-color;
    //       transform: scale(0.90);
    //       // background-color: $secondary-color;
    //       box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
    //     }
    //     .sidebar-icon {
    //       color: $text-color;
    //       margin-right: 10px;
    //       background-color: transparent;
    //     }
  
    //     .sidebar-label {
    //       font-size: $base-font-size;
    //       font-weight: 500;
    //       color: $text-color;
    //       background-color: transparent;
          
    //     }
  
    //     &.active {
    //       background-color: $secondary-color;
    //       border-radius: 10px;
    //       transform: scale(0.90);
    //       background-color: $secondary-color;
    //       box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0, 1);
    //     }
  
    //     .profile-img {
    //       width: 28px;
    //       height: 28px;
    //       border-radius: 50%;
    //       margin-right: 10px;
    //     }
    //   }
    // }
}
@media(max-width:360px){
  .sidebar {
    z-index: 100;
    width: 60%;
    // height: 100%;
    // padding: $padding-medium;
    // background-color: $background-color;
    // .sidebar-divider {
    //   width: 100%;
    //   height: 1px;
    //   background-color: $hover-bg-color;
    //   margin: 1rem 0;
    }
}
