@import '../../index.scss';
.sidebar2 {
    width: 100px;
    padding: 1rem;
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
  
  
    .sidebar2-section {
      display: flex;
      flex-direction: column;
      
      
  
      .sidebar2-header {
        font-size: 14px;
        font-weight: bold;
        color: $secondary-text;
        margin: 1rem 0;
      }
  
      .sidebar2-item {
        display: flex;
        align-items: center;
        padding: 10px;
        padding-top: 25px;
        flex-direction: column;
        padding-bottom: 25px;
        border-radius: 10px;
        
        justify-content: center;
        
        text-align: center;
        
        cursor: pointer;
        transition: background-color 0.2s ease;
  
        &:hover {
          background-color: $hover-bg-color;
        }
  
        .sidebar2-icon {
          color: $text-color;
          margin-right: 10px;
          background-color: transparent;
        }
  
        .sidebar2-label {
          background-color: transparent;
          font-size: 10px;
          font-weight: 200;
          color: $text-color;
        }
  
        &.active {
          background-color: $background-color;
          border-radius: 10px;
        }
  
        .profile-img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
  